.background{style: "background-image: url('#{@photo.photo_url}');"}
  %table
    %tr
      %td
        - if @location
          %span.city
            = @location
        - else
          %span.error
            Uh oh, looks like there was a problem parsing my location. Check back again in a bit.

  - if @photo.profile_url
    .credits
      %a{href: @photo.profile_url, target: '_blank'}
        &copy; #{@photo.profile_name}
