.background{style: "background-image: url('#{@photo.photo_url}');"}
  %table
    %tr
      %td
        %span.city
          = @location

  - if @photo.profile_url
    .credits
      %a{href: @photo.profile_url, target: '_blank'}
        &copy; #{@photo.profile_name}
