!!!
%html
  %head
    %title Where is Caleb?
    %meta{name: 'viewport', content: 'initial-scale=1.0, width=device-width'}
    %link{rel: 'stylesheet', media: 'screen', href: '/foundation.css'}

  %body
    = yield