!!!
%html
  %head
    %title Where is Caleb?
    %meta{name: 'viewport', content: 'initial-scale=1.0, width=device-width'}
    %link{rel: 'stylesheet', media: 'screen', href: '/foundation.css'}
    %link{rel: 'stylesheet', media: 'screen', href: '/application.css'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat'}

  %body
    = yield