!!!
%html
  %head
    %title Where is Caleb?
    %meta{name: 'viewport', content: 'initial-scale=1.0, width=device-width'}
    %link{rel: 'stylesheet', media: 'screen', href: '/css/foundation.css'}
    %link{rel: 'stylesheet', media: 'screen', href: '/css/app.css'}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat'}
    %script{src: '/js/app.js'}

  %body
    = yield